html {
  line-height: 1.5em;
  font-family: Ubuntu, Roboto, Verdana, sans-serif;
}

.App {
  text-align: left;
}

li {
  list-style: none;
}

.inputAdd {
  position: relative;
  float: left;
  left: 20px;
  margin: 20px;
  width: 130px;
}

fieldset {
  width: 80%;
  margin: auto;
  position: relative;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: beige;
}

tr:nth-child(even) {
  background: lightblue;
}

td {
  padding: 5px 20px 5px 25px;
}

.toylist {
  border: 3px solid #999;
  padding: 25px;
  border-radius: 8px;
  margin: auto;
  margin-top: 30px;
  width: 80%;
  background:#fff;
}

.App-link {
  color: #09d3ac;
}

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
  margin-left: 50px;
}

.switch input {
  display: none;
}

.slider {
  background-color: crimson;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.container {
  left: 150px;
  position: relative;
  top:10px;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked+.slider {
  background-color: #66bb6a;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.box {
    width:70%;
    padding:20px;
    background:#fff;
    border-radius:2px;
}
.box h4{
    background:#eee;
    margin:0;
    padding:60px 20px;
    text-align:center;
    -webkit-box-shadow:0 0px 4px rgba(0, 0, 0, 0.2);
            box-shadow:0 0px 4px rgba(0, 0, 0, 0.2);
}

.css3-shadow{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
}
/*==================================================
 * Drop shadow effect with box-shadow
 * ===============================================*/
.css3-shadow:after{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 40px rgba(0,0,0,0.8);
    box-shadow:0 0 40px rgba(0,0,0,0.8);
    bottom:0px;
    left:10%;
    right:10%;
    width:80%;
    height:50%;
    -moz-border-radius:100%;
    border-radius:100%;
}
